<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cb7ac561-66fe-4459-a42d-a97c6420133c/resourceGroups/StorageGroup/providers/Microsoft.Web/sites/TestStorageServer</ResourceId>
    <ResourceGroup>StorageGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://teststorageserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>teststorageserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TestStorageServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TestStorageServer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WhoIsThatServer.Storage.Context.DatabaseContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:teststorageserverdbserver.database.windows.net,1433;Initial Catalog=TestStorageServer_db;User ID=sqladmin@teststorageserverdbserver;Password=Vs8rTr3k" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WhoIsThatServer.Storage.Context.DatabaseContext, WhoIsThatServer.Storage" MigrationConfiguration="WhoIsThatServer.Storage.Migrations.Configuration, WhoIsThatServer.Storage" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WhoIsThatServer.Storage.Context.DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:teststorageserverdbserver.database.windows.net,1433;Initial Catalog=TestStorageServer_db;User ID=sqladmin@teststorageserverdbserver;Password=Vs8rTr3k</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="WhoIsThatServer.Storage.Context.DatabaseContext" />
  </ItemGroup>
</Project>